<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth Tutorial</title>
</head>
<style>
    
   h1
    {
        text-align: center;
        color: rgb(24, 97, 165);
        padding: 50px ;

        justify-content: center;
    }

    button {
        background-color: rgb(197, 197, 197);
        font-size: larger;
        color: white;
        padding: 20px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin: 20px;
    }

    div {
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>

    <h1 style="color: rgb(24, 97, 165);">OAuth Tutorial</h1>
    
    <div>
        <button><a href='/auth/google/url'>Login With Google</a></button>
    </div>

</body>

</html>

</html>